<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-12 form-group">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <legend>{{alias}}</legend>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Empresa</label>
                                <selector v-model="model.Empresa" v-bind:query="queryEmpresa" placeholder="Empresa" v-bind:label="empresaLabel"></selector>
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Produto</label>
                                <selector v-model="model.Produto" v-bind:query="queryProduto" placeholder="Produto" v-bind:label="produtoLabel"></selector>
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">OP</label>
                                <selector v-model="model.Op" v-bind:query="text" placeholder="Ordem de Produção" v-bind:label="model.op"></selector>
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">NFe</label>
                                <input class="form-control" type="text" placeholder="Nfe" v-model="model.nfe">
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Quantidade</label>
                                <input class="form-control" type="text" placeholder="Quantidade" v-model="model.quantidade">
                            </div>
                            <div class="col-12 col-md-3 form-group">
                                <label class="control-label">Posição</label>
                                <input class="form-control" type="text" placeholder="Posição" v-model="model.posicao">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group text-right">
                <button class="btn btn-primary" v-on:click="save()">Salvar</button>
            </div>
        </div>
    </div>
</div>